{% extends 'app/base_site.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="right_col" role="main">
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>Ticket: {{ ticket.ticket_id }}</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ ticket.ticket_body }}

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
        {% for comment in comments.all %}

             <div class="x_panel">
                <div class="x_title">
                    <h2>Posted by: {{ comment.comment_user }}</h2>

                    <div class="clearfix"></div>
                    <p>{{ comment.comment_body }}</p>
                </div>
                <div class="x_content">


                </div>
            </div>

        {% endfor %}
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Comment</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ comment_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-info">Create Ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock content %}